body {
  font-family: "Roboto", sans-serif;
  color: #00587a;
  background-color: #f8f1f1;
}

h1 {
  font-family: "Pacifico", cursive;
  /* padding: 10px; */
  color: #fff;
}
h5 {
  margin-bottom: 20px;
  font-size: 20px;
}
td {
  color: #00587a;
  /* padding-left: 20px; */
  text-align: left;
  min-width: 50px;
  vertical-align: middle;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #5eaaa8;
}

.App {
  margin: 0px 20px auto;
  max-width: 600px;
}
