body {
  font-family: "Roboto", sans-serif;
  color: #00587a;
  background-color: #f8f1f1;
}

h1 {
  font-family: "Pacifico", cursive;
  /* padding: 10px; */
  color: #fff;
}
h5 {
  margin-bottom: 20px;
  font-size: 20px;
}
td {
  color: #00587a;
  margin-right: 10px;
  padding-right: 20px;
  text-align: left;
  align-content: left;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #5eaaa8;
}

.App {
  margin: 20px auto;
  max-width: 600px;
}
