.table {
  margin-bottom: 0px;
}

.table > :not(caption) > * > * {
  width: 40px;
  border-color: #ffffff;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: -10px;
}

/* img {
    display: block;
    position: relative;
    bottom: 4px;
  } */

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #ffffff;
}

#icon1 {
  width: 60%;
}

#icon2 {
  width: 70%;
  float: right;
}

.container {
  min-width: 800px;
  max-width: 800px;
  margin: 30px auto;
}

.fa-location-arrow {
  color: white;
}

.card {
  border: transparent;
  background-color: #a3d2ca;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-header:first-child {
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-header {
  background-color: #5eaaa8;
  border: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 10px;
}

.card-panel {
  background-color: #a3d2ca;
  border: transparent;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.card-text {
  margin-top: 0;
  font-size: 20px;
  color: #db6400;
}

.cardbody-question {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.card-body-left,
.card-body-right {
  padding: 12px;
}

.card-body-right {
  text-align: right;
}

.card-title {
  font-size: 38px;
  font-weight: bold;
  color: #db6400;
}

.fa-cloud-sun:before {
  font-size: 68px;
}

.location {
  display: inline;
  position: relative;
  top: 5px;
  color: #5eaaa8;
}

.card-text {
  margin: 10px 0px;
  font-size: 20px;
  color: #db6400;
}

.btn {
  color: #fff;
  background-color: #5eaaa8;
  border-color: #5eaaa8;
  padding: 1px 6px;
  margin-right: 3px;
  margin-top: 3px;
}

.card-footer:last-child {
  border-radius: 6px;
}
.card-footer {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: transparent;
  text-align: center;
  color: #5eaaa8;
}

.form-control {
  display: inline;
  width: 70%;
}

#form-search {
  float: right;
  display: inline;
}

input[type="submit" i] {
  height: 28px;
  border-radius: 6px;
  color: #fff;
  background-color: #5eaaa8;
  border-color: #5eaaa8;
  padding: 1px 6px;
  border-width: 0.5px;
  border-style: none;
  margin-left: 3px;
}

.active {
  color: #00587a;
  cursor: default;
}

.active:hover {
  color: #00587a;
  cursor: default;
}
